$primary-color: #272727;
$secondary-color: orange;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } 
    @else {
        @return #fff;
    }
}

@mixin media_medium {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media_large {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media_xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}